$imgPath: "../images";
$fontPath: "../fonts";
$transition:all 0.2s ease-out;
$transitionM:all 0.5s linear;
$transitionL:all 0.8s linear;

$silver:#c1d3d2;
$blue-green:#0f5f5c;
$turtle-green:#6fb048;
$bluey-grey:#83a7a5;
$light-grey:#eef1ec;
$white-30:rgba(255, 255, 255, 0.3);
$ice-blue:#f3faff;
$lawn-green:#45a70b;
$dirty-purple:#5e4559;
$black: #000000;
$pale-olive-green:#acd373;
$text-grey:#4a4a4a;
$text-hard-grey:#545462;