@charset "UTF-8";
@import "main-site-variables";
@import "fonts";
@import "compass";
@import "compass/reset";
@import "mixins";
@import "ico-font";

html{
	min-height: 100%;
}
body{
	min-height:100%;
	min-height:100vh;
	font:17px/1.71 "Gilroy-M", Arial, sans-serif;
	color:#3e3e3f;
	// background:url('#{$imgPath}/pattern-purple.png');
}
p{
	font:17px/1.71 "Gilroy-M", Arial, sans-serif;
	color:#3e3e3f;
}
.animate, a {
    @include transition($transition);
}
a{
	text-decoration:none;
}
*, *:after, *:before {
    @include box-sizing(border-box);
}
.clear:after,
.content:after, 
.contact-box:after{
    display: block;
    content: "";
    clear: both;
}
h1, .h1{
	font:72px/1.4 "Gilroy-EB";
	color:#d81720;
	@include bp( l ) {
	    font-size:52px;
	}
	@include bp( m ) {
		font-size:48px;
	}
}
h2, .h2{
	font:72px/1.2 "Gilroy-EB";
	color:#d81720;
	@include bp( l ) {
	    font-size:52px;
	}
	@include bp( m ){	
		font-size:45px;
	}
}
.flex{
    @include flex();
}
.left{
	text-align:left;
}
.right{
	text-align:right;
}
.center{
	text-align:center;
}
.relative{
	position:relative;
}
.content{
	margin:0 auto;
	width:100%;
	max-width:1170px;
	padding:0 15px;
}
.wrapper{
	min-width:320px;
	width:100%;
	position:relative;
    overflow:hidden;
}
.header{
	padding:86px 0 55px;
	background:rgba(62,62,63,0);
	position:absolute;
	display:block;
	top:0;
	left:0;
	right:0;
	z-index:4;
	@include transition($transitionL);
	@include bp( m ){
		z-index:12;
		background:#3e3e3f;
		padding:25px 0;
	}
	&.fixed-theme{
		position:fixed;
		background:#3e3e3f;
		padding:15px 0;
		.logo{
		    height:69px;
			a{
				max-width:70px;
				img{
					height:69px;
				}
			}
		}
		.header-nav{
			margin-top:28px;		
		}
	}
	.content{
		max-width:980px;
	}
}
.mob-btn{
    display:none;
    position:absolute;
    top:15px;
    right:5px;
    width:58px;
    height:44px;
    background:transparent;
    padding:19px 11px 20px;
    @include appearance(none);
    @include bp( m ){
		display:block;
	}
    &:hover{
        div{
        	background:#ffdb00;
        	&:before,
	        &:after{
	        	background:#ffdb00;
	        }
        }
    }
    &.active{
        div{
            background:transparent;
            &:before,
            &:after{
                @include transition-delay(0s,.3s);
            }
            &:before{
                top:0px;
                @include transform(rotate(45deg));
            }
            &:after{
                bottom:0px;
                @include transform(rotate(-45deg));
            }
        }
    }
    div{
        text-indent:-9999px;
        height:5px;
        display:block;
        background:#ffdb00;
        position:relative;
        @include transition(background 0.3s 0s);
        &:before,
        &:after{
            position:absolute;
            content:"";
            left:0;
            right:0;
            height:5px;
            z-index:1;
            background:#ffdb00;
            @include transition-delay(.3s, 0s, 0s);
            @include transition-duration(.3s, .3s, .3s);
        }
        &:before{
            top:-9px;
            @include transition-property(top,transform, background);
        }
        &:after{
            bottom:-9px;
            @include transition-property(bottom,transform, background);
        }
    }
}
.nav-layout {
    display:none;
    position:fixed;
    left:0;
    top:-100px;
    bottom:0;
    right:0;
    z-index:11;
    background:rgba(0, 0, 0, 0.3);
    @include bp( minM ){
    	display:none!important;
    }
}
.logo{
	height:126px;
	@include bp( m ){
		height:69px;
	}
	a{
		max-width:129px;
		display:block;
		@include transition($transitionL);
		@include bp( m ){
			max-width:70px;
		}
	}
	img{
		max-width:100%;
		display:block;
		height:126px;
		@include bp( m ){
			height:69px;
		}
	}
}
.header-nav{
	display:block;
	text-align:right;
	margin-top:56px;
	letter-spacing:-4px;
	font-size:0px;
	@include transition($transitionL);
	@include bp( l ){
		margin-top:35px;
	}
	@include bp( minM ){
		display:block!important;
	}
	@include bp( m ){
		display:none;
		text-align:center;
	}
	*{
		letter-spacing:0;
	}
	li{
		display:inline-block;
		vertical-align:top;
		@include bp( m ){
			display:block;
		}
		& + li{
			margin-left:26px;
			@include bp( m ){
				margin-left:0;
				margin-top:5px;
			}
		}
		&.active{
			a{
				color:#d81720;
			}
		}
	}
	a{
		font:18px/1 "Gilroy-EB";
		color:#b2b2b2;
		@include bp( m ){
			display:block;
			padding:15px 0;
		}
		&:focus{
			color:#b2b2b2;
			text-decoration:none;	
		}
		&:hover{
			text-decoration:none;
			color:#d81720;
		}
	}
}
.top-back{
	.content{
		padding:303px 0 475px;
		position:relative;
		z-index:3;
		@include bp(m){
			padding:150px 0 50px;
		}
	}
	.h1, h1{
		margin-bottom:31px;
		color:#fff;
		span{
			font-size:60px;
			display:block;
			@include bp(m){
				font-size:40px;
				line-height:1.4;
			}
		}
	}
	p{
		font:24px/1.21 "Gilroy-R";
		color:#fff;
		max-width:906px;
	}
}
/*Particles*/
canvas {
  display:block;
  vertical-align: bottom;
}
.particles-js-canvas-el{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.polygon {
 	position:relative;
	top:0;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	background-color:#787878;
	background-image:url("");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 50%;
}
.polygon-grey{
	background-color:#787878;
}
.polygon-yellow{
	background-color:#ffdb00;
}

/*End particles*/
.white{
	background:#fff;
}
.grey{
	background:#f9f9f9;
}
.fl-end{
	@include align-self(flex-end);
}
.box-round{
	@include border-radius(10px);
}
.usp{
	padding-bottom:170px;
	@include bp(m){
		padding-bottom:40px;
	}
	.container{
	    position:relative;
	    z-index:3;
	}
	.mob-padding{
		@include bp(m){
			padding:0 30px;
		}
	}
	.box-wrap{
		margin:0 0 42px;
		&.to-top{
			margin-top:-310px;
			@include bp(m){
				margin-top:0px;
				background:transparent;
			}
		}
	}
	.visible{
		display:none;
		&.show{
			display:block;
		}
	}
	.text-box{
		@include bp(m){
			@include order(2);	
		}
		p{
			margin-bottom:26px;
		}
	}	
}
.add-links{
	.h2, h2{
		color:#d81720;
		a{
			color:#d81720;
			&:focus{
				color:#d81720;
				text-decoration:none;
			}
			&:hover,
			&.active{
				color:#3e3e3f;
				text-decoration:none;
			}
		}
	}
}
.common-st{
	display:none;
}
.text-box{
	.title{
		margin-bottom:22px;
		font:24px/1.4 "Gilroy-EB";
		color:#3e3e3f;
	}
	p{
		line-height:1.47;
		color:#787878;
		margin-bottom:35px;
	}
	.link{
		font:18px/1 "Gilroy-EB";
		color:#ffcf06;
		i{
		    display:inline-block;
		    vertical-align:top;
		    margin:5px 0 0 3px;
			@include transition($transition);
		}
		&:hover{
			text-decoration:none;
			i{
				margin-left:7px;
			}
		}
	}
}
.polygon-yellow{
	.text-box{
		p{
			color:#3e3e3f;
			// margin-bottom:35px;
		}
		.link{
			color:#3e3e3f;
		}
	}
	.blank-sheet{
		.number{
			color:#ffdb00;
			bottom:-10px;
			left:-40px;
		}
	}
}
.box_1{
	padding:85px 0 150px;
	@include bp( m ) {
		padding-bottom:40px;
	}
	.sm-nav{
	    position:absolute;
	    top:-60px;
	    right:60px;
	    color:#ffcf06;
	    font-size:16px;
	    line-height:1;
	    @include transform(rotate(-90deg));
	    @include bp( m ) {
	    	right:30px;
	    }
	    &:after{
    	    position:absolute;
		    content:"";
		    left:-58px;
		    top:7px;
		    width:47px;
		    height:1px;
		    background:#ffcf06;
	    }
	}
}
.blank-sheet{
	position:absolute;
	top:0;
	bottom:0;
	width:71%;
	&.right-block{
		right:0;
	}
	&.left-block{
		left:0;
		.sm-nav{
		    bottom:40px;
		    right:25px;
		}
	}
	.sm-nav{
		position:absolute;
		bottom:90px;
		right:-5px;
		color:#ffcf06;
		font-size:16px;
		line-height:1;
		@include transform(rotate(-90deg));
		&:after{
			position:absolute;
			content:"";
			left:-58px;
			top:7px;
			width:47px;
			height:1px;
			background:#ffcf06;
		}
	}
	.number{
		position:absolute;
		bottom:-10px;
		left:-20px;
		font:300px/0.7 "Gilroy-EB";
		color:#f9f9f9;
	}
}
.box_2{
	.text-box{
		padding-top:107px;
		padding-bottom:81px;
	}
	.h2, h2{
		margin-top:70px;
	}
}
.black-block{
	background:#3e3e3f;
	padding:110px 0;
	.h2, h2{
		color:#f9f9f9;
		line-height:1;
	}
	.round-list{
		padding-left:40px;
		li{
			position:relative;
			line-height:1;
			color:#f9f9f9;
			margin-bottom:25px;
			&:before{
				position: absolute;
				content:"";
				top:0;
				left:-42px;
				width:19px;
				height:19px;
				@include border-radius(50%);
				background:#787878;
			}
		}
	}
}
.box_3, .box_5{
	padding:104px 0 94px;
	.content{
	    position:relative;
	    z-index:3;
	}
	.h2, h2{
		margin:95px 0 160px;
	}
	.blank-sheet{
		width:62%;
	}
	.text-box{
		margin-top:68px;
	}
}
.box_4, .box_6, .box_7{
	padding:115px 0 137px;
	.h2, h2{
		margin:84px 0 250px;
	}
	.text-box{
		margin-top:65px;
	}
	.blank-sheet{
		.sm-nav{
		    bottom:42px;
		    right:20px;
		}
	}
	.order{
		@include bp(m){
			@include order(2);	
		}
	}
}
.box_5{
	.blank-sheet{
		width:70%;
	}
}
.ladder{
	padding:130px 0 105px;
	.content{
		position:relative;
	    z-index:3;
	}
	.h2, h2{
		color:#fff;
		margin-bottom:40px;
	}
	p{
		color:#fff;
		line-height:2.12;
		margin-bottom:45px;
	}
}
.box_7{
	.blank-sheet{
		content:"";
	}
}
.box_7, .box_10{
	padding-bottom:46px;
	.h2, h2{
		margin:180px 0;
	}
	.text-box{
		margin-top:210px;
	}
	.order{
		@include bp(m){
			margin-top:50px;
			@include order(2);	
		}
	}
}
.box_8{
	padding-bottom:53px;
	.text-box{
		margin-top:25px;
	}
	.h2, h2{
		margin:210px 0;
	}
	.blank-sheet{
		content:"";
	}
}
.box_9{
	padding:95px 0 50px;
	.content{
	    position:relative;
	    z-index:3;
	}
	.h2, h2{
		margin-bottom:35px;
	}
}
.box_10{
	padding:153px 0 86px;
	.blank-sheet{
		&.left-block{
			.sm-nav{
				bottom:55px;
			}
		}
	}
}
.box_11{
	padding:60px 0 48px;
	.partners{
		text-align:center;
		letter-spacing:-4px;
		font-size:0;
		@include bp(m){
			@include flex-direction(column);
		} 
		@include align-items(center);
		*{
			letter-spacing:0;
		}
		li{
			-webkit-filter:grayscale(100%);
			-moz-filter:grayscale(100%);
			-ms-filter:grayscale(100%);
			-o-filter:grayscale(100%);
			filter:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
			filter:grayscale(100%);
			filter:gray;
			@include bp(m){
				width:100%;
				margin-bottom:15px;
			}
			& + li{
				margin-left:25px;
				@include bp(m){
					margin-left:0;
				}
			}
		}
		img{
			display:block;
			max-width:100%;
			-webkit-filter:grayscale(100%);
			-moz-filter:grayscale(100%);
			-ms-filter:grayscale(100%);
			-o-filter:grayscale(100%);
			filter:url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
			filter:grayscale(100%);
			filter:gray;
			@include bp(m){
				margin:0 auto;
			}
		}
	}
}
.footer{
	padding:150px 0 35px;
	.content{
		position:relative;
	    z-index:3;
	}
	h2, .h2{
		color:#fff;
		margin-bottom:80px;
	}
	.footer-text{
		margin-bottom:90px;
		p{
			margin:0;
			color:#fff;
		}
	}
	.footer-adr{
		margin-bottom:10px;
	}
	.f-logo{
		display:inline-block;
		vertical-align:top;
		width:97px;
		img{
			display:block;
			max-width:100%;
		}
	}
	.f-info, .f-info p, .title{
		margin-bottom:45px;
		color:#fff;
	}
	.title{
		font:24px/1.5 "Gilroy-EB";
		min-height:72px;
	}
	.f-info{
		font-size:24px;
		line-height:1.5;
		min-height:87px;
	}
}
.polygon-yellow{
	.accordion-wrap{
		.ac-toggle{
			font-size:24px;
			padding-left:20px;
			&:before{
				font-size:20px;
			}
			&:hover, &.active{
				color:#3e3e3f;
				&:before{
					color:#3e3e3f;
				}
			}
		}
		.ac-content{
		    padding: 31px 0 38px;
			p{
				padding:0;
			    margin-bottom:20px;
			}
		}	
	}
}
//  Block-reveal 
.block-revealer__element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
}
.accordion-wrap{
	.ac-toggle{
		color:#3e3e3f;
		cursor:pointer;
		margin-bottom:8px;
		padding-left:15px;
		position:relative;
		font:18px/1 "Gilroy-EB";
		@include transition($transitionM);
		&:before{
			position:absolute;
			content:"#{$icon-plus}";
			left:0;
			top:2px;
			color:#3e3e3f;
			@include icoFont();
		    font-size:14px;
			@include transition($transitionM);			
		}
		&:hover, &.active{
			color:#d81720;
			&:before{
				color:#d81720;
			}
		}
		&.active{
			&:before{
				content:"#{$icon-minus}";
			}
		}
	}
	.ac-content{
		display:none;
		p{
			padding:31px 0 38px;
			margin:0;
		}
	}
}
/*POPUPs*/
.overlay-hugeinc{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:13;
	background:rgba(255,207,1,0.95);
	.close-pop{
		width:80px;
		height:80px;
		position:absolute;
		right:20px;
		top:20px;
		overflow:hidden;
		border:none;
		background:url('#{$imgPath}/cross.png') no-repeat center center;
		text-indent:200%;
		color:transparent;
		outline:none;
		z-index:100;
		cursor:pointer;
	}
	.popup-content{
		text-align:center;
		position:relative;
		top:50%;
		height:60%;
		font-size:54px;
		@include transform(translateY(-50%));
		@include bp(m){
		    overflow-y:auto;
		}
	}
	.text{
		padding:0 15px;
		max-width:950px;
		margin:0 auto;
		display:inline-block;
		text-align:left;
		height:100%;
		position:relative;
		p{
			color:#3e3e3f;
			line-height:2.12;
		}
	}
}
.overlay-hugeinc {
	opacity:0;
	visibility:hidden;
	@include transition(opacity 0.5s, visibility 0s 0.5s);
	&.open{
		opacity:1;
		visibility:visible;
		@include transition(opacity 0.5s);
		.popup-content{
			.text{
				opacity:1;
				@include transform(rotateX(0deg));
			}
		}
	}
	&.close{
		.popup-content{
			.text{
				@include transform(translateY(25%) rotateX(-35deg));
			}
		}
	}
	.popup-content{
		@include perspective(1200px);
		.text{
			opacity:0.4;
			@include transform(translateY(-25%) rotateX(35deg));
			-webkit-transition:-webkit-transform 0.5s, opacity 0.5s;
			transition:transform 0.5s, opacity 0.5s;
		}
	}
}
@media screen and (max-height: 30.5em) {
	.overlay-hugeinc .popup-content {
		height: 70%;
		font-size: 34px;
	}
}